.move-right {
    animation: moveRight 500ms linear;
}

.move-left {
    animation: moveLeft 500ms linear;
}
@keyframes moveLeft {
    0% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0);
    }
}
