.move-right {
    animation: moveRight 5s linear infinite;
}

.move-left {
    animation: moveLeft 5s linear infinite;
}
@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(50px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0);
    }
}
