.navbar{
  @apply  top-0 sticky  h-[clamp(4rem,5rem+1vh,6vh)] bg-[#f5f7f9] dark:bg-[#161a1e] w-full shadow-lg flex justify-between items-center px-12 z-10
}
.nav-links{
    @apply flex justify-center items-center gap-12 h-full
}

.nav-links a {
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-decoration: none;
    position: relative;
    @apply text-black dark:text-white
}

.nav-links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--color-primary) !important;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--color-primary) !important;
}

.nav-links  a:hover::before,
.nav-links  a.active::before {
    width: 100%;
    background-color: var(--color-primary) !important;
}


.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.dark-mode {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.dark-mode span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode span.active {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}
