.profile-nav-links {
    @apply flex gap-4 px-6;
}

.profile-nav-links a {
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    text-decoration: none;
    position: relative;
}

.profile-nav-links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
    @apply text-danger dark:text-danger-light
}

.profile-nav-links a:hover,
.profile-nav-links a.active {
    @apply text-danger dark:text-danger-light
}

.profile-nav-links a:hover::before,
.profile-nav-links a.active::before {
    width: 100%;
    @apply bg-danger dark:bg-danger-light
}