 .rank {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);

    cursor: pointer;
    transition: all 0.3s ease;
}

 .rank img {
    width: 11rem;
    height: auto;
    margin-bottom: 0.8rem;
    /* border-radius: 50%; */
}

 .rank h2 {
    margin-bottom: 0.2rem;
}

 .reminders {
    margin-top: 2rem;
}

 .reminders .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

 .reminders .header span {
    padding: 10px;
    border-radius: 50%;
}

 .reminders .notification {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    cursor: pointer;
    transition: all 0.3s ease;
}

 .reminders .notification:hover {
    box-shadow: none;
}

 .reminders .notification .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

 .reminders .notification .icon {
    padding: 0.6rem;
    color: var(--color-white);
    background-color: var(--color-success);
    border-radius: 20%;
    display: flex;
}

 .reminders .notification.deactive .icon {
    background-color: var(--color-danger);
}

 .reminders .add-reminder {
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

 .remindres .add-reminder:hover {
    background-color: var(--color-primary);
    color: white;
}

 .remindres .add-reminder div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
