aside {
    height: 100vh;
}

aside .sidebar {
    display: flex;
    width: 6rem;
    flex-direction: column;
    border-radius: 15px;
    height: 88vh;
    position: relative;
    transition: all 0.3s ease;
}

aside .sidebar:hover {
    box-shadow: none;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    color: #716f6e;
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a h3 {
    display: none !important;
}

aside .sidebar a.active {
    width: 100%;
    color: var(--color-primary);
    margin-left: 0;
    @apply bg-[#f5f7f9] dark:bg-[#161a1e];
}

aside .sidebar a.active::before {
    content: "";
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 0.6rem;
}

@media (min-width: 768px) {
    aside .sidebar {
        width: calc(100% + 2.5rem);
    }

    aside .sidebar a h3 {
        display: inline-flex !important;
    }
}
