 .table-container {
    margin-top: 1.3rem;
    width: 100%;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
 }

 .table-container h2 {
     margin-bottom: 0.8rem;
 }


 .table-container table {
     width: 100%;
     text-align: center;
 }

 .table-container div:hover {
     box-shadow: none;
 }

 table tbody td {
     height: 2.8rem;
     border-bottom: 1px solid;
     color: var(--color-dark-variant);
     @apply dark:border-b-[rgba(0,0,0,0.4)] border-b-[rgba(132,139,200,0.18)]
 }

 table tbody tr:last-child td {
     border: none;
 }

 .table-container a {
     text-align: center;
     display: block;
     margin: 1rem auto;
     color: var(--color-primary);

 }


 @media (max-width: 1200px) {
     .table-container {
         width: 94%;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         margin: 2rem 0 0 0.8rem;
     }

     .table-container {
         width: 83vw;
     }


 }

 @media (max-width: 768px) {
     .table-container {
         position: relative;
         margin: 3rem 0 0 0;
         width: 100%
     }

    
 }