.container {
    display: grid;
    margin: 0 auto;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 20rem;
    max-height: 100vh;
}

.transition-default {
    transition: all 0.3s ease;
}

.shadowed-box {
    @apply transition-default bg-white dark:bg-[#1f2528] shadow-[0_0.5rem_0.5rem_rgba(132,139,200,0.18)] dark:shadow-[0_0.5rem_0.5rem_rgba(0,0,0,0.4)];
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
        grid-template-columns: 7rem auto 18rem;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }
}

.Toastify__toast-body {
    @apply font-poppins;
}

.Toastify__toast-theme--dark {
    background-color: #1f2528 !important;
}

.Toastify__toast-theme--light {
    background-color: white !important;
}

.Toastify__toast-theme--colored.Toastify__toast--default {
    @apply bg-white dark:bg-[#1f2528];
}

.Toastify__toast-theme--colored.Toastify__toast--info {
    background-color: var(--color-info) !important;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
    background-color: var(--color-success) !important;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
    background-color: var(--color-warning) !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
    background-color: var(--color-danger) !important;
}
